dist
build
.idea
*.log
bundle
node_modules

tmp/
build-*/
coverage/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
tsconfig.*buildinfo
yarn-debug.log*
yarn-error.log*
